package top.sheepyu.module.${table.moduleName}.dao.${table.businessName};

import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
#if(${requireBaseModel})import top.sheepyu.framework.mybatisplus.core.model.BaseModel;#end
#parse('codegen/java/common/_import.vm')
import java.util.*;

/**
* @author ${table.author}
* @date ${date}
**/
@TableName("${table.tableName}")
@Data
#if(${requireBaseModel})@EqualsAndHashCode(callSuper = true)#end
@Accessors(chain = true)
public class ${fullClassName}#if(${requireBaseModel}) extends BaseModel#end {
    #foreach($column in $columns)
    #if(!$baseModelFields.contains($column.javaField) || !${requireBaseModel})
    #parse('codegen/java/common/_type.vm')
    /**
    * ${column.comment}
    #if($column.dictType != '')    * 字典: ${column.dictType}
    #end
    */
    #if($column.primaryKey && $column.javaType == 'String')    @TableId(type = IdType.INPUT)
    #end
    #if($column.nullable)    @TableField(updateStrategy = FieldStrategy.IGNORED)
    #end
    private ${javaType} ${column.javaField};
    #end
    #end
}
