spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3001/sheepyu?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: 20030519
  redis:
    host: localhost
    port: 6379
    database: 0
    password:
  mail:
    host: smtp.163.com
    username: ygq__future@163.com
    password: IKRFOJCYBTWFJFYC
# 详情请参照SwaggerProperties
sheepyu:
  swagger:
    enable: true
    version: 1.0.0
    base-package: top.sheepyu
    host: http://localhost:18080
    contact:
      name: sheepyu
      url: https://sheepyu.top
      email: 3029944576@qq.com
  security:
    mock-enable: true
  file:
    config:
      LOCAL:
        endpoint: http://localhost:18080
        path: F:/upload
logging:
  level:
    top.sheepyu: debug
