package top.sheepyu.module.${table.moduleName}.service.${table.businessName};

#if ($table.requirePage)import top.sheepyu.module.common.common.PageResult;
#end
import top.sheepyu.framework.mybatisplus.core.query.IServiceX;
import top.sheepyu.module.${table.moduleName}.controller.${sceneName}.${table.businessName}.vo.${fullClassName}CreateVo;
import top.sheepyu.module.${table.moduleName}.controller.${sceneName}.${table.businessName}.vo.${fullClassName}UpdateVo;
import top.sheepyu.module.${table.moduleName}.controller.${sceneName}.${table.businessName}.vo.${fullClassName}QueryVo;
#if($table.requireImport)import top.sheepyu.module.${table.moduleName}.controller.${sceneName}.${table.businessName}.vo.${fullClassName}ExcelVo;
#end
import top.sheepyu.module.${table.moduleName}.dao.${table.businessName}.${fullClassName};

import javax.validation.Valid;
import javax.validation.constraints.*;
#if ($table.requireList || $table.requireExport || $table.requireImport)import java.util.List;
#end

/**
* @author ygq
* @date 2023-01-18 14:40
**/
public interface ${fullClassName}Service extends IServiceX<${fullClassName}> {
    void create(@Valid ${fullClassName}CreateVo createVo);

    void update(@Valid ${fullClassName}UpdateVo updateVo);

    void delete(@NotEmpty(message = "ids不能为空") String ids);

    ${fullClassName} findById(@NotNull(message = "id不能为空") Long id);
    #if ($table.requireList || $table.requireExport)

    List<${fullClassName}> list(@Valid ${fullClassName}QueryVo queryVo);
    #end
    #if ($table.requirePage)

    PageResult<${fullClassName}> page(@Valid ${fullClassName}QueryVo queryVo);
    #end
    #if($table.requireImport)

    void batchImport(List<${fullClassName}ExcelVo> result);
    #end
}
